@use '../../utilities/responsive';

body.dark {

    .about {
        &::after {
            display: none;
        }
    }
}

.about {

    width: 100%;
    position: relative;
    
    
    &__inner {
        padding: 16rem var(--section-gap-inner) 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        
        @include responsive.max(32rem) {
            padding: 16rem 0 0;
        }
    }

    &__content {
        max-width: 26rem;
    }

    &__title {
        font-size: var(--font-size-3);
        margin-bottom: 2rem;
        z-index: 99;
        position: relative;

        @include responsive.max(40rem) {
            font-size: var(--font-size-2);
        }
    }

    &__text {
        z-index: 99;
        position: relative;
    }

    &__developer-image {
        width: 195px;
        height: 195px;
        overflow: hidden;
        z-index: 99;
        position: relative;
    }

    &::after {
        content: '';
        background-image: url(/src/images/cloud-1.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 350px;
        height: 350px;
        position: absolute;
        bottom: 10%;
        right: 15%;
        display: block;
        opacity: 35%;

        @include responsive.max(82rem) {
            display: none;
        }
    }


}