@use '../../utilities/responsive';
@use '../../components/clouds';

body.dark {

    .hero {

        &__name {
    
            &::before {
                display: none;
            }
    
            &::after {
                display: none;
            }
        }

        &__job-title {
    
            &::before {
                display: none;
            }
    
            &::after {
                display: none;
            }
        }
    }

}

.hero {

    height: 100vh;

    &__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 var(--section-gap-inner);

        @include responsive.max(32rem) {
            padding: 0;
        }
    }
    
    &__name {
        font-size: var(--font-size-5);
        position: relative;
        z-index: 99;
        margin-bottom: var(--gap-s);
        
        @include responsive.max(70rem) {
            font-size: var(--font-size-4);
        }

        @include responsive.max(40rem) {
            font-size: var(--font-size-3);
            margin-bottom: 0.5rem;
        }

        &::before {
            @include clouds.cloud-1();
            top: -100%;
            left: 15%;

            @include responsive.max(70rem) {
                top: -200%;
            }

            @include responsive.max(40rem) {
                top: -500%;
                width: 300px;
                height: 320px;
                opacity: 0.3;
            }

        }

        &::after {

            @include clouds.cloud-1(
                $width: 250px,
                $height: 350px,
                $opacity: 0.4);
                top: -150%;
                right: -20%;

                @include responsive.max(70rem) {
                    top: -250%;
                    right: -50%;
                }

                @include responsive.max(40rem) {
                    display: none;
                }

        }


    }

    &__job-title {
        font-size: var(--font-size-3);
        z-index: 99;
        position: relative;

        @include responsive.max(70rem) {
            font-size: var(--font-size-2);
        }

        @include responsive.max(40rem) {
            font-size: var(--font-size-1);
        }

        &::before {
            @include clouds.cloud-3();
            top: 100%;
            left: -30%;

            @include responsive.max(40rem) {
                display: none;
            }
        }

        &::after {
            @include clouds.cloud-2();
            top: 0;
            right: -170%;

            @include responsive.max(70rem) {
                right: -240%;
            }

            @include responsive.max(40rem) {
                opacity: 0.3;
            }

        }
    }

}