:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --bg-color-light: #90DFB9;
  --bg-color-dark: #02051D;
  --color-dark: #000;
  --color-dark-100: #343434;
  --color-dark-200: #444;
  --color-dark-300: #666;
  --color-dark-500: #8C8C8C;
  --color-dark-600: #999;
  --color-dark-700: #b5b5b5;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #f1f1f1;
  --color-accent: #009fbb;
  --color-accent-200: #009fbb;
  --color-accent-300: #009fbb;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: #fff;
  --color-light-200: #E8E8E8;
  --color-light-300: #efead8;
  --color-light-400: #efead8;
  --color-light-500: #efead8;
  --color-light-600: #efead8;
  --color-light-700: #efead8;
  --color-light-800: #efead8;
  --color-light-900: #efead8;
  --font-sans: "Open Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
  --line-height: 1.5;
  --font-scale: 1.618;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-inner: 90rem;
  --grid-container: [full-start] minmax(2rem, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(2rem, 1fr) [full-end];
  --footer-height: 100px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 400;
}

h1 {
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
}

h2 {
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
}

h3 {
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
}

h4 {
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
}

h5 {
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
}

h6 {
  --font-size-1: var(--font-size);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
}

body {
  background-color: var(--bg-color-light);
  color: var(--color-dark-100);
}

.container {
  overflow: hidden;
}

.hero,
.about,
.contact,
.footer {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.hero__inner,
.about__inner,
.contact__inner,
.footer__inner {
  grid-column: inner;
}

.footer {
  height: var(--footer-height);
}

.site-footer {
  height: 100px;
  width: 100%;
  background-color: var(--color-dark);
}
.site-footer__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-footer__copyright {
  color: var(--color-dark-500);
  font-family: var(--font-serif);
}

.hero {
  background-color: var(--bg-color-light);
  height: 100vh;
}
.hero__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 6.5rem;
}
.hero__name {
  font-size: 109.67px;
  z-index: 99;
}
.hero__job-title {
  font-size: 41.89px;
  z-index: 99;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clouds__top-left {
  position: absolute;
  width: 100px;
  left: 105px;
  top: 19px;
  opacity: 50%;
}
.clouds__top-right {
  position: absolute;
  width: 180px;
  right: 150px;
  top: 36px;
  opacity: 35%;
}
.clouds__bottom-left {
  position: absolute;
  width: 150px;
  left: 36px;
  bottom: 74px;
  opacity: 25%;
}
.clouds__bottom-right {
  position: absolute;
  width: 350px;
  left: 502px;
  bottom: 74px;
  opacity: 22%;
}

.about {
  min-height: 100vh;
}
.about__inner {
  max-width: 32rem;
  width: 100%;
  padding: 16rem 0 0 6.5rem;
}
.about__title {
  font-size: 41.89px;
  margin-bottom: 2rem;
}
.about__text {
  margin-bottom: 3rem;
}
.about__developer-image {
  width: 210px;
  height: 210px;
  overflow: hidden;
}

.contact {
  position: relative;
}
.contact__inner {
  max-width: 32rem;
  width: 100%;
  padding: var(--section-gap-inner) 0 var(--section-gap) 6.5rem;
}
.contact__title {
  font-size: 41.89px;
  margin-bottom: 2rem;
}
.contact__text {
  font-size: var(--font-size-2);
}

.tree {
  min-width: 1400px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: -47%;
  opacity: 65%;
}

/*# sourceMappingURL=style.css.map */
