:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --bg-color-light: #90DFB9;
  --bg-color-dark: #02051D;
  --color-dark: #000;
  --color-dark-100: #343434;
  --color-dark-200: #444;
  --color-dark-300: #666;
  --color-dark-500: #8C8C8C;
  --color-dark-600: #999;
  --color-dark-700: #b5b5b5;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #f1f1f1;
  --color-accent: #009fbb;
  --color-accent-200: #009fbb;
  --color-accent-300: #009fbb;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: #fff;
  --color-light-100: #E8E8E8;
  --color-light-300: #efead8;
  --color-light-400: #efead8;
  --color-light-500: #efead8;
  --color-light-600: #efead8;
  --color-light-700: #efead8;
  --color-light-800: #efead8;
  --color-light-900: #efead8;
  --font-sans: "Open Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
  --line-height: 1.5;
  --font-scale: 1.618;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-inner: 90rem;
  --grid-container: [full-start] minmax(2rem, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(2rem, 1fr) [full-end];
  --footer-height: 100px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 400;
}

h1 {
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
}

h2 {
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
}

h3 {
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
}

h4 {
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
}

h5 {
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
}

h6 {
  --font-size-1: var(--font-size);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
}

@keyframes half-moon-animation {
  0% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    width: 549px;
    height: 549px;
    opacity: 0;
    top: -400px;
    right: 200px;
    position: absolute;
  }
}
@keyframes full-moon-animation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
body {
  background-color: var(--bg-color-light);
  color: var(--color-dark-100);
}
body.dark {
  background-color: var(--bg-color-dark);
  color: var(--color-light-100);
}
body.dark .half-moon {
  width: 195px;
  height: 195px;
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 80px;
  right: 200px;
  object-fit: contain;
  opacity: 0.8;
  animation: half-moon-animation 0.6s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.5s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
body.dark .full-moon {
  width: 549px;
  height: 549px;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 800px;
  right: 160px;
  object-fit: contain;
  opacity: 0;
  animation: full-moon-animation 0.7s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.container {
  overflow: hidden;
}
.container .half-moon,
.container .full-moon {
  display: none;
}

.hero,
.about,
.contact,
.footer {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.hero__inner,
.about__inner,
.contact__inner,
.footer__inner {
  grid-column: inner;
}

.footer {
  height: var(--footer-height);
}

body.dark .site-footer::before {
  content: "";
  background-image: url(/src/images/tree-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1400px;
  height: 1258px;
  display: block;
  position: absolute;
  bottom: var(--footer-height);
  right: -50%;
  opacity: 0.8;
  z-index: 9;
}
@media screen and (max-width: 82rem) {
  body.dark .site-footer::before {
    right: 50%;
    transform: translateX(50%);
    opacity: 0.2;
  }
}

.site-footer {
  height: var(--footer-height);
  width: 100%;
  background-color: var(--color-dark);
  position: relative;
}
.site-footer::before {
  content: "";
  background-image: url(/src/images/tree-green.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1400px;
  height: 1258px;
  display: block;
  position: absolute;
  bottom: var(--footer-height);
  right: -50%;
  opacity: 0.65;
  z-index: 9;
}
@media screen and (max-width: 82rem) {
  .site-footer::before {
    right: 50%;
    transform: translateX(50%);
    opacity: 0.15;
  }
}
.site-footer__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-footer__copyright {
  color: var(--color-dark-500);
  font-family: var(--font-serif);
}

body.dark .hero__name::before {
  display: none;
}
body.dark .hero__name::after {
  display: none;
}
body.dark .hero__job-title::before {
  display: none;
}
body.dark .hero__job-title::after {
  display: none;
}

.hero {
  height: 100vh;
}
.hero__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 6.5rem;
}
.hero__name {
  font-size: 6.85rem;
  z-index: 99;
  position: relative;
}
@media screen and (max-width: 70rem) {
  .hero__name {
    font-size: 4.23rem;
  }
}
.hero__name::before {
  content: "";
  background-image: url(/src/images/cloud-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 120px;
  height: 130px;
  top: -140px;
  left: 80px;
  opacity: 50%;
  display: block;
}
.hero__name::after {
  content: "";
  background-image: url(/src/images/cloud-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 250px;
  height: 350px;
  top: -200px;
  right: -190px;
  opacity: 40%;
  display: block;
}
.hero__job-title {
  font-size: 2.62rem;
  z-index: 99;
  position: relative;
}
@media screen and (max-width: 70rem) {
  .hero__job-title {
    font-size: 1.62rem;
  }
}
.hero__job-title::before {
  content: "";
  background-image: url(/src/images/cloud-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 120px;
  height: 130px;
  top: 90px;
  left: -40px;
  opacity: 50%;
  display: block;
}
.hero__job-title::after {
  content: "";
  background-image: url(/src/images/cloud-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 350px;
  height: 450px;
  top: 0;
  right: -400px;
  opacity: 40%;
  display: block;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clouds__top-left {
  position: absolute;
  width: 100px;
  left: 105px;
  top: 19px;
  opacity: 50%;
}
.clouds__top-right {
  position: absolute;
  width: 180px;
  right: 150px;
  top: 36px;
  opacity: 35%;
}
.clouds__bottom-left {
  position: absolute;
  width: 150px;
  left: 36px;
  bottom: 74px;
  opacity: 25%;
}
.clouds__bottom-right {
  position: absolute;
  width: 350px;
  left: 502px;
  bottom: 74px;
  opacity: 22%;
}

body.dark .about::after {
  display: none;
}

.about {
  width: 100%;
  position: relative;
  padding: 16rem 6.5rem 0;
}
.about__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
.about__content {
  max-width: 26rem;
}
.about__title {
  font-size: 41.89px;
  margin-bottom: 2rem;
  z-index: 99;
}
.about__text {
  z-index: 99;
}
.about__developer-image {
  width: 195px;
  height: 195px;
  overflow: hidden;
  z-index: 99;
}
.about::after {
  content: "";
  background-image: url(/src/images/cloud-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 10%;
  right: 15%;
  display: block;
  opacity: 35%;
}
@media screen and (max-width: 82rem) {
  .about::after {
    display: none;
  }
}

body.dark .contact::after {
  display: none;
}
body.dark .theme-toggle-button {
  width: 66.45px;
  height: 66.45px;
  border: none;
  border-radius: 50%;
  position: relative;
  background-color: var(--bg-color-light);
  z-index: 99;
}
body.dark .theme-toggle-button--clicked {
  animation: clockwise 0.3s linear 1;
}
body.dark .theme-toggle-button::after {
  content: "";
  width: 15.69px;
  height: 15.69px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 100;
  position: absolute;
  display: block;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes clockwise {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

.contact {
  position: relative;
  padding: var(--section-gap-inner) 6.5rem var(--section-gap);
}
.contact__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--section-gap-inner);
}
.contact__title {
  font-size: 41.89px;
  margin-bottom: 2rem;
  z-index: 99;
}
.contact__text {
  font-size: var(--font-size-2);
  z-index: 99;
}
.contact__toggle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact::after {
  content: "";
  background-image: url(/src/images/cloud-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 350px;
  position: absolute;
  top: -40%;
  left: 35%;
  display: block;
  opacity: 35%;
}
@media screen and (max-width: 82rem) {
  .contact::after {
    display: none;
  }
}

.theme-toggle-button {
  width: 66.45px;
  height: 66.45px;
  border: none;
  border-radius: 50%;
  position: relative;
  background-color: var(--bg-color-dark);
  z-index: 99;
}
.theme-toggle-button--clicked {
  animation: clockwise 0.3s linear 1;
}
.theme-toggle-button::after {
  content: "";
  width: 15.69px;
  height: 15.69px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 100;
  position: absolute;
  display: block;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes clockwise {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

/*# sourceMappingURL=style.css.map */
