@use '../utilities/responsive';

@mixin half-moon (
    $moon-width: 195px,
    $moon-height: 195px
) {
    width: $moon-width;
    height: $moon-height;
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 80px;
    right: 200px;
    object-fit: contain;
    opacity: 0.8;
    animation: half-moon-animation 0.75s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.5s);
    animation-iteration-count: 1;
    animation-fill-mode: both;

    @include keyframes-half-moon();

    @include responsive.max(62rem) {
        position: absolute;
        top: 80px;
        right: 5%;
        opacity: 0.6;
        animation: none;
    }

    @include responsive.max(25rem) {
        opacity: 0.4;
    }

    @include responsive.minW-and-minH(64rem, 85rem) {
        position: absolute;
        animation: none;
    }

}

@mixin full-moon (
    $moon-width: 549px,
    $moon-height: 549px
) {
    width: $moon-width;
    height: $moon-height;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 120%;
    right: 15%;
    object-fit: contain;
    opacity: 0;
    animation: full-moon-animation 0.7s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;

    @include keyframes-full-moon();

    @include responsive.max(82rem) {
        @include keyframes-full-moon($opacity-end: 0.4);
    }

    @include responsive.max(62rem) {
        top: 120%;
        right: 3%;
    }

    @include responsive.max(25rem) {
        animation: none;
    }

}


// keyframes mixin for "half-moon" mixin
@mixin keyframes-half-moon (
    $opacity-start: 0.8,
    $opacity-end: 0
) {

    @keyframes half-moon-animation {
        0% {
            opacity: $opacity-start;
        }
    
        60% {
            opacity: $opacity-start;
        }
        
        100% {
            width: 549px;
            height: 549px;
            opacity: $opacity-end;
            top: -400px;
            right: 200px;
            position: absolute;
        }
    }
}

// keyframes mixin for "full-moon" mixin
@mixin keyframes-full-moon (
    $opacity-start: 0,
    $opacity-end: 0.8
) {

    @keyframes full-moon-animation {
        0% {
            opacity: $opacity-start;
        }
    
        80% {
            opacity: $opacity-start;
        }
    
        100% {
            opacity: $opacity-end;
        }
    }

}
