@mixin half-moon (
    $moon-width: 195px,
    $moon-height: 195px
) {
    width: $moon-width;
    height: $moon-height;
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 90px;
    right: 200px;
    object-fit: contain;
    opacity: 0.8;
}

@mixin full-moon (
    $moon-width: 549px,
    $moon-height: 549px
) {
    width: $moon-width;
    height: $moon-height;
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 20px;
    right: 100px;
    object-fit: contain;
    opacity: 0.5;
}