@mixin toggle-button(
    $background-color: var(--bg-color-dark)
) {
    width: 66.45px;
    height: 66.45px;
    border: none;
    border-radius: 50%;
    position: relative;
    background-color: $background-color;
    z-index: 99;

    &--clicked {
        animation: clockwise 0.3s linear 1;
        //, flip 0.2s 0.3s linear 1
    }

    // &--to-dark {
    //     background-color: var(--color-dark);
    // }

    // &--to-light {
    //     background-color: #90DFB9;
    // }


    &::after {
        content: '';
        width: 15.69px;
        height: 15.69px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 100;
        position: absolute;
        display: block;
        top: 7px;
        left: 50%;
        transform: translateX(-50%);

    }

    
    @keyframes clockwise {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes flip {
        from {
            transform: rotateY(0);
        }

        to {
            transform: rotateY(180deg);
        }
    }


}