@mixin toggle-button(
    $background-color: var(--bg-color-dark)
) {
    width: 66.45px;
    height: 66.45px;
    border: none;
    border-radius: 50%;
    position: relative;
    background-color: $background-color;
    z-index: 99;

    &--clicked {
        animation: clockwise 0.3s linear 1;
    }

    &::after {
        content: '';
        width: 15.69px;
        height: 15.69px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 100;
        position: absolute;
        display: block;
        top: 7px;
        left: 50%;
        transform: translateX(-50%);
    }

    @keyframes clockwise {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }
}