@use '../utilities/responsive';

@mixin green-tree(
    $tree-width: 1400px,
    $tree-height: 1258px 
    
) {
    &::before {
        content: '';
        background-image: url(/src/images/tree-green.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: $tree-width;
        height: $tree-height;
        display: block;
        position: absolute;
        bottom: var(--footer-height);
        right: -50%;
        opacity: 0.65;
        z-index: 9;
 
        @include responsive.min(100rem) {
            right: 20%;
            transform: translateX(50%);
        }
        
        @include responsive.max(82rem) {
            right: 50%;
            transform: translateX(50%);
            opacity: 0.15;
        }
    }
}

@mixin white-tree(
    $tree-width: 1400px,
    $tree-height: 1258px 
    
) {
    &::before {
        content: '';
        background-image: url(/src/images/tree-white.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: $tree-width;
        height: $tree-height;
        display: block;
        position: absolute;
        bottom: var(--footer-height);
        right: -50%;
        opacity: 0.8;
        z-index: 9;

        @include responsive.min(100rem) {
            right: 20%;
            transform: translateX(50%);
        }

        @include responsive.max(82rem) {
            right: 50%;
            transform: translateX(50%);
            opacity: 0.2;
        }

    }
}