@use '../utilities/responsive';

:root {

    --section-gap: 8rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75 );
    
    @include responsive.max(50rem) {
        --section-gap-inner: 3rem; 
    }

    --gap-xl: 4rem;
    --gap-l: 3rem;
    --gap-m: 2rem;
    --gap-s: 1rem;

    --border-radius: 0px;

    --bg-color-light: #90DFB9;
    --bg-color-dark: #02051D;

    --color-dark: #000000;
    --color-dark-100: #2a2a2a;
    --color-dark-200: #343434;
    --color-dark-300: #444;
    --color-dark-400: #666;
    --color-dark-500: #8C8C8C;
    --color-dark-600: #999;
    --color-dark-700: #b5b5b5;
    --color-dark-800: #d5d5d5;
    --color-dark-900: #f1f1f1;

    --color-accent: #009fbb;
    --color-accent-200: #009fbb;
    --color-accent-300: #009fbb;
    --color-accent-400: #009fbb;
    --color-accent-500: #009fbb;
    --color-accent-600: #009fbb;
    --color-accent-700: #009fbb;
    --color-accent-800: #009fbb;
    --color-accent-900: #009fbb;
    
    --color-light: #fff;
    --color-light-100: #E8E8E8;
    --color-light-300: #efead8;
    --color-light-400: #efead8;
    --color-light-500: #efead8;
    --color-light-600: #efead8;
    --color-light-700: #efead8;
    --color-light-800: #efead8;
    --color-light-900: #efead8;

    --font-sans: 'Open Sans', sans-serif;
    --font-serif: 'Playfair Display', serif;
    
    --line-height: 1.5;
    
    --font-scale: 1.618;
    --font-size: 1rem;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) );

    --page-inner: 90rem;
    --grid-container: [full-start] minmax(2rem, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(2rem, 1fr) [full-end];


    --footer-height: 100px;


}