@use '../components/trees'; 

body.dark {

    .site-footer {
        @include trees.white-tree;
    }

}

.site-footer {

    height: var(--footer-height);
    width: 100%;
    background-color: var(--color-dark);
    position: relative;
    @include trees.green-tree;

    &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__copyright {
        color: var(--color-dark-500);
        font-family: var(--font-serif);
    }

}