
body {
    background-color: var(--bg-color-light);
    color: var(--color-dark-100);

    &.dark {
        background-color: var(--bg-color-dark);
        color: var(--color-light-100);
    } 

}



.container {
    overflow: hidden;
}

.hero,
.about,
.contact,
.footer {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
    }
}


.footer {
    height: var(--footer-height);
}