@use '../components/moon';

body {
    background-color: var(--bg-color-light);
    color: var(--color-dark-100);
    
    &.dark {
        background-color: var(--bg-color-dark);
        color: var(--color-light-100);

        .half-moon {
            @include moon.half-moon();
        }

        .full-moon {
            @include moon.full-moon();
        } 

    } 

}

.container {
    overflow: hidden;

    .half-moon,
    .full-moon {
        display: none;
    } 

}

.hero,
.about,
.contact,
.footer {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
    }
}


.footer {
    height: var(--footer-height);
}